doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/codemirror.css')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/sockets.js')
    script(src='/javascripts/codemirror.js')

  body
    block content
